# Project files
.idea

# Logs
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Test / coverage artifacts
.coverage
.pytest_cache/
htmlcov/